# --------------------
# Python
# --------------------
__pycache__/
*.pyc
.ipynb_checkpoints/

# --------------------
# Conda / environments
# --------------------
miniconda3/
.env
.venv

# --------------------
# Raw sequencing data (never commit)
# --------------------
*.fastq
*.fastq.gz
*.fq
*.fq.gz

# --------------------
# Derived data & QC outputs
# --------------------
data/raw_fastq/
data/trimmed/
data/merged/
data/qc/

# --------------------
# Results / outputs
# --------------------
outputs/
results/
logs/

# --------------------
# OS junk
# --------------------
.DS_Store
Thumbs.db
